{% extends "base.html" %}

{% block content %}
    <div class="bg-light">
        <div class="p-4">
            <h3>Settings</h3>
            <div class="pt-4">
                <h5>Flipping Method</h5>
                <div class="p-1">
                    <input type="radio" name="flipping-method" id="vaal-orb">
                    <label for="vaal-orb">Vaal Orb</label>
                    <input type="radio" name="flipping-method" id="doryanis-institute">
                    <label for="doryanis-institute">Doryani's Institute</label>
                    <input type="radio" name="flipping-method" id="prime-regrading">
                    <label for="prime-regrading">Prime Regrading</label>
                    <input type="radio" name="flipping-method" id="secondary-regrading">
                    <label for="secondary-regrading">Secondary Regrading</label>
                </div>
                <h5 class="py-3">Gems</h5>

                <h5>Search</h5>
                <div class="p-1">
                    <input type="search" id="gem-search" name="q">                    
                    <button>Search</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        {% for name, cost in costs %}
            <p>{{ name, cost }}</p>
        {% endfor %}
    </div>
{% endblock %}